body {
  font-family: 'Lato', sans-serif !important;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: #f0f2f5;*/
  background-color: #fff;
  width: 100%;
}

@media(min-width: 769px){
  body {

  }

}



h1, h2{
  letter-spacing: 0.01em;
  line-height: 1.2;
}

h3, h4, h5 ,h6, p{
  line-height: 1.5;
  letter-spacing: 0.01em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace !important;
  color: rgba(24, 144, 255, 1);
  background-color:  rgba(24, 144, 255, 0.05);
  padding: 2px 5px;
  border-radius: 3px;

}

#aceEditor::-webkit-scrollbar-track {
 background-color: red !important;
}

/*#depResultsList::-webkit-scrollbar { width: 0 !important }*/

#dropzone:focus{
  outline: none !important;
}

.pulsingButton {
  background-color: rgba(24, 144, 255,1);
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color: rgba(24, 144, 255,1); -webkit-box-shadow: 0 0 3px rgba(24, 144, 255,1); }
  50% { background-color: rgba(24, 144, 255,1); -webkit-box-shadow: 0 0 40px rgba(24, 144, 255,1); }
  100% { background-color: rgba(24, 144, 255,1); -webkit-box-shadow: 0 0 3px rgba(24, 144, 255,1); }
}

@-moz-keyframes glowing {
  0% { background-color: rgba(24, 144, 255,1); -webkit-box-shadow: 0 0 3px rgba(24, 144, 255,1); }
  50% { background-color: rgba(24, 144, 255,1); -webkit-box-shadow: 0 0 40px rgba(24, 144, 255,1); }
  100% { background-color: rgba(24, 144, 255,1); -webkit-box-shadow: 0 0 3px rgba(24, 144, 255,1); }
}

@-o-keyframes glowing {
  0% { background-color: rgba(24, 144, 255,1); -webkit-box-shadow: 0 0 3px rgba(24, 144, 255,1); }
  50% { background-color: rgba(24, 144, 255,1); -webkit-box-shadow: 0 0 40px rgba(24, 144, 255,1); }
  100% { background-color: rgba(24, 144, 255,1); -webkit-box-shadow: 0 0 3px rgba(24, 144, 255,1); }
}

@keyframes glowing {
  0% { background-color: rgba(24, 144, 255,0.9); -webkit-box-shadow: 0 0 1px rgba(24, 144, 255,0.5);  }
  50% { background-color: rgba(24, 144, 255,1); -webkit-box-shadow: 0 0 10px rgba(24, 144, 255,0.8); }
  100% { background-color: rgba(24, 144, 255,0.9); -webkit-box-shadow: 0 0 1px rgba(24, 144, 255,0.5);  }
}

.-header{
  background-color: rgba(24, 144, 255, 0.9);
  color: #fff;
  font-weight:bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.ReactTable -highlight {
  background-color: red !important;
}

.ReactTable .rt-td {
  padding: 0px !important;
}
